@tailwind base;
@tailwind components;
@tailwind utilities;
.listCart .item:nth-child(even) {
    background-color: black;
}
body.showCart {
    overflow: hidden; 
}
.cartTab {
    position: fixed;
    top: 0;
    right: -400px; 
    bottom: 0;
    width: 400px;
    background-color: #2d3748; 
    transition: right 0.5s ease-in-out;
    z-index: 1000;
}
body.showCart .cartTab {
    right: 0; 
}
.container {
    transition: 0.5s;
}